<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Homepage</title>
    <style> body {
      background: #333;
      color: #fff;
    }
    </style>
  </head>
  <body>
    <h1>Your Surprise response</h1> 
    <h2> Type of response: {{{type}}}</h2> 
     <p > response:  
    {{{toPrint}}}
  </p>
      <img src={{{gif_link}}} /> <br>

    <a href="/" class="btn btn-light mt-4">Go Back to homepage</a>


  </body>
</html>
